#m1{text-align: left;}
ul{font-size:small;}
#m2{text-align: center;}
#m3{text-align: right;}
#m4{font-size: small;}
body{background-color:bisque;}
table{background-color:azure;}
h2{font-family: 'Ms Madi', cursive;}
