.row{
    width: 400px;
    height:400px ;
    background-color: aqua;
    position: relative;
    left: 25%;
}
.col{
    width:100px ;
    height: 100px;
    background-color:palevioletred ;
    left: 50%;
    position: absolute;
}